{% extends '::admin.html.twig' %}

{% block title %} {{ parent() }} - Liste des fonctions {% endblock %}


    {% block page_header %}
        <div class="col-sm-8">
            <h1 class="mainTitle">Gestion des fonctions</h1>
        </div>

    {% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="panel panel-white">
                        <div class="panel-heading">
                            <h5><span class="text-bold">Ajouter fonction</span></h5>
                        </div>
                        <div class="block-erreurs"></div>
                        <div class="panel-body">

                            <form role="form" method="post" action="{{ path('admin_fonction_creer') }}" role="form"
                                  id="form-add">

                                <div class="form-group">
                                    <label for="exampleInputPassword1">
                                        Nom fonction
                                    </label>
                                    {{ form_widget(form.nom) }}
                                </div>

                                {{ form_rest(form) }}

                                <button type="submit" class="btn btn-primary" id="submit_button">
                                    Submit
                                </button>

                                <figure style="display: inline">
                                    &nbsp;&nbsp; <img src="{{ asset('images/ajax_loader.gif') }}" class="loading"
                                                      style="display: none;margin: 0 auto"
                                                      width="35" height=""/><br>
                                </figure>
                            </form>


                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div id="block-edit"></div>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12" id="madiv">
            <h5 class="over-title margin-bottom-15"><span class="text-bold">Liste des fonction</span></h5>

            <table class="table table-striped table-hover" id="sample-table-2">
                <thead>
                <tr>
                    <th class="center col-md-1">#</th>
                    <th>Nom fonction</th>
                    <th class="col-md-2"></th>
                </tr>
                </thead>
                <tbody>

                {% for entity in entities %}
                    <tr id="item-{{ entity.id }}">
                        <td class="center">{{ entity.id }} </td>
                        <td>{{ entity.nom|title }} </td>

                        <td class="center">
                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                <a href="{{ path('admin_fonction_modifier', {'id': entity.id} ) }}"
                                   class="btn btn-transparent btn-xs edit_entity" tooltip-placement="top" tooltip="Edit"><i
                                            class="fa fa-pencil"></i></a>

                                <a href="{{ path('admin_fonction_supprimer', {'id': entity.id}) }}"
                                   data-entity-id="{{ entity.id }}"
                                   class="btn btn-transparent btn-xs tooltips remove_item" tooltip-placement="top"
                                   tooltip="Remove"><i class="fa fa-times fa fa-white"></i></a>
                            </div>
                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                <div class="btn-group" dropdown>
                                    <button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle"
                                            dropdown-toggle>
                                        <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                        <li>
                                            <a href="{{ path('admin_fonction_modifier', {'id': entity.id} ) }}"
                                               class="edit_entity">
                                                Edit
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                Supp
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



    <script>

        $(document).ready(function () {


        });

    </script>
{% endblock %}