{% extends '::admin.html.twig' %}

{% form_theme form 'form/fields.html.twig' %}

{% block title %} {{ parent() }} - Liste des employes {% endblock %}

    {% block page_header %}
        <div class="col-sm-8">
            <h1 class="mainTitle">Gestion des employes</h1>
        </div>

    {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="widget-box" style="border:1px solid #c8c7cc; padding: 15px;">
                <div class="widget-header widget-header-blue widget-header-flat">
                    <h4 class="lighter">Recherche: </h4>

                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-inlines" role="form" method="get" id="recherche-form"
                              action="{{ path('admin_employe_recherche') }}">
                            <div class="row">
                                <figure>
                                    <img src="{{ asset('images/ajax_loader.gif') }}" class="loading"
                                         style="display: none;margin: 0 auto"
                                         width="100" height=""/><br>
                                </figure>

                                <div class="col-md-12">

                                    <div class="col-md-2">
                                        {{ form_widget(form.nom) }}
                                    </div>
                                    <div class="col-md-2">
                                        {{ form_widget(form.prenom) }}
                                    </div>
                                    <div class="col-md-2">
                                        {{ form_widget(form.username) }}
                                    </div>
                                    <div class="col-md-2">
                                        {{ form_widget(form.cin) }}
                                    </div>
                                    <div class="col-md-2">
                                        {{ form_widget(form.sexe) }}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        {{ form_widget(form.fonction) }}
                                    </div>
                                    <div class="col-md-2">
                                        {{ form_widget(form.departement) }}
                                    </div>
                                    <div class="col-md-1"><label for="" style="margin-bottom: 10px;">&nbsp</label><br>
                                        <button type="submit" class="btn btn-purple btn-sm">
                                            Recherche
                                            <i class="icon-search icon-on-right bigger-110"></i></button>

                                    </div>
                                    <br><br>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12" id="madiv">
            <div class="col-md-6">
                <h5 class="over-title margin-bottom-15"><span class="text-bold">Liste des employes</span></h5>
            </div>
            <div class="col-md-6">
                <a href="{{ path('admin_employe_creer') }}" class="btn btn-primary pull-right">Ajouter employé</a>
            </div>
            <div class="row col-md-12">
                <br><br>
            </div>

            <table class="table table-striped table-hover" id="sample_1">
                <thead>
                <tr>
                    <th class="center col-md-1">#</th>
                    <th>Photo</th>
                    <th class="center col-md-1">Sexe</th>
                    <th>Nom et prénom</th>
                    <th>Matricule</th>
                    <th>Departement</th>
                    <th>Fonction</th>
                    <th>Etat</th>
                    <th class="col-md-2"></th>
                </tr>
                </thead>
                <tbody>

                {% for entity in entities %}
                    <tr id="item-{{ entity.id }}">
                        <td class="center">{{ entity.id }} </td>
                        <td>
                            {% if entity.image %}
                                <img src="{{ asset(entity.image.webPath) }}" alt="" width="50" height="50">
                            {% elseif entity.image == null and entity.sexe == "Homme" %}
                                <img src="{{ asset('images/homme_sans_photo.jpg') }}" alt="" width="50" height="50">
                            {% elseif entity.image == null and entity.sexe == "Femme" %}
                                <img src="{{ asset('images/femme_sans_photo.jpg') }}" alt="" width="50" height="50">
                            {% endif %}
                        </td>
                        <td class="center">
                            {% if entity.sexe == 'Homme' %}
                                <img src="{{ asset('images/homme.png') }}" class="img-rounded" width="30" height="30">
                            {% else %}
                                <img src="{{ asset('images/femme.png') }}" class="img-rounded" width="30" height="30">
                            {% endif %}
                        </td>
                        <td>{{ entity.uniqueNom|title }} </td>
                        <td>{{ entity.username }}</td>
                        <td>{{ entity.departement.nom|default() }}</td>
                        <td>{{ entity.fonction.nom|default() }}</td>
                        <td>
                            {% if entity.locked %}
                                <a href="{{ path('admin_employe_activer', {'id': entity.id}) }}"
                                   data-entity-id="{{ entity.id }}"
                                   id="enabled-item-{{ entity.id }}"
                                   class="btn btn-xs btn-danger disable_item" title="Désactivé">
                                    <i class="fa fa-lock"></i>
                                </a>
                                <a href="{{ path('admin_employe_activer', {'id': entity.id}) }}"
                                   data-entity-id="{{ entity.id }}"
                                   id="disabled-item-{{ entity.id }}" style="display: none"
                                   class="btn btn-xs btn-success enable_item" title="Activé">
                                    <i class="fa fa-unlock bigger-130"></i>
                                </a>
                            {% else %}
                                <a href="{{ path('admin_employe_activer', {'id': entity.id}) }}"
                                   data-entity-id="{{ entity.id }}"
                                   id="disabled-item-{{ entity.id }}"
                                   class="btn btn-xs btn-success enable_item" title="Activé">
                                    <i class="fa fa-unlock bigger-130"></i>
                                </a>
                                <a href="{{ path('admin_employe_activer', {'id': entity.id}) }}"
                                   data-entity-id="{{ entity.id }}"
                                   id="enabled-item-{{ entity.id }}" style="display: none"
                                   class="btn btn-xs btn-danger disable_item" title="Désactivé">
                                    <i class="fa fa-lock bigger-130"></i>
                                </a>
                            {% endif %}

                        </td>
                        <td class="center">
                            <div class="visible-md visible-lg hidden-sm hidden-xs">

                                <a href="{{ path('admin_employe_voir', {'id': entity.id}) }}"
                                   class="btn btn-transparent btn-xs" tooltip-placement="top"
                                   tooltip="Voir"><i
                                            class="fa fa-eye"></i>
                                </a>

                                <a href="{{ path('admin_employe_supprimer', {'id': entity.id}) }}"
                                   data-entity-id="{{ entity.id }}"
                                   class="btn btn-transparent btn-xs tooltips remove_item" tooltip-placement="top"
                                   tooltip="Remove"><i class="fa fa-times fa fa-white"></i>
                                </a>
                            </div>

                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                <div class="btn-group" dropdown>
                                    <button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle"
                                            dropdown-toggle>
                                        <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                        <li>
                                            <a href=""
                                               class="edit_entity">
                                                Edit
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                Supp
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <div class="modal fade" id="myModal{{ entity.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        {#{% include '@App/Admin/Stage/voir.html.twig' %}#}
                    </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}